body {
  background-color: #cfa8da;
  overflow: auto;
  vertical-align: center;
}

h1 {
  font: 400 100px/1.6 'Pacifico', Georgia, serif;
  color: #2b2b2b;
  text-shadow: 2px 2px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
  margin-top: 10px;
  margin-bottom: 5px;
}

h3 {
  font: 400 30px/1.6 'Pacifico', Verdana, Helvetica, sans-serif;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
  margin: 0px;
  margin-bottom: 7px;
}

.outsidePost {
	display: inline;
}

#submissionField { 
	width: 330px; 
	height: 25px; 
	border: 1px solid #999999; 
	padding: 5px; 
	vertical-align: middle;
}

#submitBtn {
		border: none;
		background: #f6e9cf;
		font-size: 18px;
		color: black;
		font-family: 'Arimo', Georgia;
		padding: 6px;
	    position: relative;
	    box-shadow: 3px 3px 3px #888888;
	 vertical-align: middle;
	}

.post-container {
	background-color: #f5e8f9;
	vertical-align: middle;
	position: middle;
	width: 50%;
  padding: 1em;
  border: 2px solid black;
  overflow: auto;
  height: 330px;
  width: 330px;
  display: inline-block;
  margin: 5px;
  z-index: 1;
}
.post-title {
 font: 30px/1.2 'Rancho', Verdana, Helvetica, sans-serif;
}

.recipePics {
	 width: 290px;
    min-height: 250px;
    max-height: auto;
    margin: 3px;
    padding: 3px;
}

.post-thumb img {
    float: left;
    clear:left;
    margin-right:8px;
}

.recipePics {
  float:left;
  font-family: 'Arimo', Georgia;
  padding: 2px;
  border: 1px solid #021a40;
  background-color:#d0f1c7;
  margin-left:18px;
}

.post-content {
	float:right;
	margin-right:3px;
	overflow: auto;
}

.post-title {
	margin: 1px;
}

.ingredients {
	padding: none;
	overflow: auto;
  font-family: 'Arimo', Georgia;
}

#ing {
  margin-bottom: 0px;
	font-family: 'Arimo', Georgia;
	font-size: 18px;
	font-weight: bold;
}